.box-product {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    .left-box {
        border: 1px solid lightgray;
        width: 48%;
        height: 100px;
        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }
    .right-box {
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 48%;
        padding: 8px;
        .product-list {
            color: #626262;
            :first-child {
                border-top: 1px solid #a9a9a9;
            }
            :last-child {
                border-bottom: none;
            }
            span {
                display: block;
                padding: 5px 0;
                border-bottom: 1px solid #a9a9a9;
            }
            .grey-span {
                background-color: #f9f9f9;
                color: #454545;
            }
        }
    }

}
