.box-product {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.box-product .left-box {
  border: 1px solid lightgray;
  width: 48%;
  height: 100px;
}

.box-product .left-box img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.box-product .right-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 48%;
  padding: 8px;
}

.box-product .right-box .product-list {
  color: #626262;
}

.box-product .right-box .product-list :first-child {
  border-top: 1px solid #a9a9a9;
}

.box-product .right-box .product-list :last-child {
  border-bottom: none;
}

.box-product .right-box .product-list span {
  display: block;
  padding: 5px 0;
  border-bottom: 1px solid #a9a9a9;
}

.box-product .right-box .product-list .grey-span {
  background-color: #f9f9f9;
  color: #454545;
}

